In [47]:
from bs4 import BeautifulSoup
import requests
import time
import datetime
import smtplib

In [22]:
URL = 'https://www.amazon.com/Funny-Data-Systems-Business-Analyst/dp/B07FNW9FGJ/ref=sr_1_3?dchild=1&keywords=data%2Banalyst%2Btshirt&qid=1626655184&sr=8-3&customId=B0752XJYNL&th=1'
headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/78.0.3904.108 Safari/537.36", "Accept-Encoding":"gzip, deflate", "Accept":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8", "DNT":"1","Connection":"close", "Upgrade-Insecure-Requests":"1"}
page = requests.get(URL, headers=headers)
soup1 = BeautifulSoup(page.content, "html.parser")
soup2 = BeautifulSoup(soup1.prettify(), "html.parser")
title = soup2.find(id='productTitle').get_text()
price = soup2.find(class_='a-price-whole').get_text()
print(title)
print(price)

                    Funny Got Data MIS Data Systems Business Analyst T-Shirt


                            18

                             .

In [26]:
price=price.strip()[:2]
title=title.strip()
print(price)
print(title)

18
Funny Got Data MIS Data Systems Business Analyst T-Shirt

In [30]:
import datetime
today=datetime.date.today()
print(today)

2024-06-07

In [32]:
import csv
header=['Title','Price','Date']
data=[title,price,today]
with open('AmazonWebScrapperDataset.csv','w',newline='',encoding='UTF8')as f:
    writer=csv.writer(f)
    writer.writerow(header)
    writer.writerow(data)

In [34]:
import pandas as pd
df=pd.read_csv(r"C:\Users\K Suresh\Desktop\Data Analytics\AmazonWebScrapperDataset.csv")
df

                                               Title  Price        Date
0  Funny Got Data MIS Data Systems Business Analy...     18  2024-06-07

In [ ]:
with open('AmazonWebScrapperDataset.csv','a+',newline='',encoding='UTF8')as f:
    writer=csv.writer(f)
    writer.writerow(data)

In [35]:
def check_price():
    URL = 'https://www.amazon.com/Funny-Data-Systems-Business-Analyst/dp/B07FNW9FGJ/ref=sr_1_3?dchild=1&keywords=data%2Banalyst%2Btshirt&qid=1626655184&sr=8-3&customId=B0752XJYNL&th=1'
    headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/78.0.3904.108 Safari/537.36", "Accept-Encoding":"gzip, deflate", "Accept":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8", "DNT":"1","Connection":"close", "Upgrade-Insecure-Requests":"1"}
    page = requests.get(URL, headers=headers)
    soup1 = BeautifulSoup(page.content, "html.parser")
    soup2 = BeautifulSoup(soup1.prettify(), "html.parser")
    title = soup2.find(id='productTitle').get_text()
    price = soup2.find(class_='a-price-whole').get_text()
    price=price.strip()[:2]
    title=title.strip()
    import datetime
    today=datetime.date.today()
    import csv
    header=['Title','Price','Date']
    data=[title,price,today]
    with open('AmazonWebScrapperDataset.csv','a+',newline='',encoding='UTF8')as f:
        writer=csv.writer(f)
        writer.writerow(data)

In [45]:
while True:
    check_price()
    time.sleep(5)

KeyboardInterrupt:

In [46]:
import pandas as pd
df=pd.read_csv(r"C:\Users\K Suresh\Desktop\Data Analytics\AmazonWebScrapperDataset.csv")
df

                                                Title  Price        Date
0   Funny Got Data MIS Data Systems Business Analy...     18  2024-06-07
1   Funny Got Data MIS Data Systems Business Analy...     18  2024-06-07
2   Funny Got Data MIS Data Systems Business Analy...     18  2024-06-07
3   Funny Got Data MIS Data Systems Business Analy...     18  2024-06-07
4   Funny Got Data MIS Data Systems Business Analy...     18  2024-06-07
5   Funny Got Data MIS Data Systems Business Analy...     18  2024-06-07
6   Funny Got Data MIS Data Systems Business Analy...     18  2024-06-07
7   Funny Got Data MIS Data Systems Business Analy...     18  2024-06-07
8   Funny Got Data MIS Data Systems Business Analy...     18  2024-06-07
9   Funny Got Data MIS Data Systems Business Analy...     18  2024-06-07
10  Funny Got Data MIS Data Systems Business Analy...     18  2024-06-07
11  Funny Got Data MIS Data Systems Business Analy...     18  2024-06-07
12  Funny Got Data MIS Data Systems Business Analy...     18  2024-06-07
13  Funny Got Data MIS Data Systems Business Analy...     18  2024-06-07
14  Funny Got Data MIS Data Systems Business Analy...     18  2024-06-07
15  Funny Got Data MIS Data Systems Business Analy...     18  2024-06-07
16  Funny Got Data MIS Data Systems Business Analy...     18  2024-06-07
17  Funny Got Data MIS Data Systems Business Analy...     18  2024-06-07
18  Funny Got Data MIS Data Systems Business Analy...     18  2024-06-07
19  Funny Got Data MIS Data Systems Business Analy...     18  2024-06-07
20  Funny Got Data MIS Data Systems Business Analy...     18  2024-06-07
21  Funny Got Data MIS Data Systems Business Analy...     18  2024-06-07
22  Funny Got Data MIS Data Systems Business Analy...     18  2024-06-07
23  Funny Got Data MIS Data Systems Business Analy...     18  2024-06-07
24  Funny Got Data MIS Data Systems Business Analy...     18  2024-06-07
25  Funny Got Data MIS Data Systems Business Analy...     18  2024-06-07
26  Funny Got Data MIS Data Systems Business Analy...     18  2024-06-07
27  Funny Got Data MIS Data Systems Business Analy...     18  2024-06-07
28  Funny Got Data MIS Data Systems Business Analy...     18  2024-06-07
29  Funny Got Data MIS Data Systems Business Analy...     18  2024-06-07
30  Funny Got Data MIS Data Systems Business Analy...     18  2024-06-07
31  Funny Got Data MIS Data Systems Business Analy...     18  2024-06-07
32  Funny Got Data MIS Data Systems Business Analy...     18  2024-06-07
33  Funny Got Data MIS Data Systems Business Analy...     18  2024-06-07
34  Funny Got Data MIS Data Systems Business Analy...     18  2024-06-07
35  Funny Got Data MIS Data Systems Business Analy...     18  2024-06-07
36  Funny Got Data MIS Data Systems Business Analy...     18  2024-06-07
37  Funny Got Data MIS Data Systems Business Analy...     18  2024-06-07
38  Funny Got Data MIS Data Systems Business Analy...     18  2024-06-07
39  Funny Got Data MIS Data Systems Business Analy...     18  2024-06-07

In [54]:
def send_mail():
    server=smtplib.SMTP_SSL('smtp.gmail.com',465)
    server.ehlo()
    server.ehlo()
    server.login('suresh25off@gmail.com','suresh_SK25')
    subject="jvnkfbvk"
    body="ojbgjskb"
    msg=f"Subject:{subject}\n\n{body}"
    server.sendmail(
        'suresh25off@gmail.com',
        msg
    )